

:root {
    /* dark theme */
    --bg-dark: #1a1a1a;
    --widget-bg-dark: #2d2d2d;
    --text-dark: #ffffff;
    --border-dark: #404040;
    --button-dark: #2196F3;
    --button-hover-dark: #1976D2;
    --wave-color-dark: rgba(0, 0, 0, 0.2);

    /* green theme */
    --bg-green: #131f17;
    --widget-bg-green: #2d2d2d;
    --text-green: #00ff37;
    --border-green: #404040;
    --button-green: #1dd144;
    --button-hover-green: #21f34f;
    --wave-color-green: rgba(0, 255, 42, 0.2);

    /* orange theme */
    --bg-orange: #1f1b13;
    --widget-bg-orange: #2d2d2d;
    --text-orange: #ff8c00;
    --border-orange: #404040;
    --button-orange: #ff8c00;
    --button-hover-orange: #ff9f00;
    --wave-color-orange: rgba(255, 140, 0, 0.2);

    /* purple theme */
    --bg-purple: #1a131f;
    --widget-bg-purple: #2d2d2d;
    --text-purple: #d900ff;
    --border-purple: #404040;
    --button-purple: #9c27b0;
    --button-hover-purple: #ab47bc;
    --wave-color-purple: rgba(217, 0, 255, 0.2);

   
    /* red theme */
    --bg-red: #1a131f;
    --widget-bg-red: #2d2d2d;
    --text-red: #ff0000;
    --border-red: #404040;
    --button-red: #ff0000;
    --button-hover-red: #ff3333;
    --wave-color-red: rgba(255, 0, 0, 0.2);
}

/* Dark theme */
body.dark-theme {
    background-color: var(--bg-dark);
    color: var(--text-dark);
}

body.dark-theme .widget {
    background-color: var(--widget-bg-dark);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

body.dark-theme input {
    background-color: var(--widget-bg-dark);
    border-color: var(--border-dark);
    color: var(--text-dark);
}

body.dark-theme button {
    background-color: var(--button-dark);
}

body.dark-theme button:hover {
    background-color: var(--button-hover-dark);
}

body.dark-theme .bar {
    background-color: var(--text-dark);
}

body.dark-theme .settings-panel {
    background-color: var(--widget-bg-dark);
    color: var(--text-dark);
}

body.dark-theme .setting-item select {
    background-color: var(--widget-bg-dark);
    border-color: var(--border-dark);
    color: var(--text-dark);
}

body.dark-theme .footer a:hover {
    color: var(--button-hover-dark);
}

body.dark-theme .menu-icon {
    filter: invert(1);
}

body.dark-theme .progress-bar {
    background-color: var(--widget-bg-dark);
}

body.dark-theme .progress {
    background-color: var(--button-dark);
}

body.dark-theme .extra-inputs-container input {
    background-color: var(--widget-bg-dark);
    border-color: var(--border-dark);
    color: var(--text-dark);
}

body.dark-theme .extra-inputs-container select {
    background-color: var(--widget-bg-dark);
    border-color: var(--border-dark);
    color: var(--text-dark);
}


/* Green theme */
body.green-theme {
    background-color: var(--bg-green);
    color: var(--text-green);
}

body.green-theme .widget {
    background-color: var(--widget-bg-green);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

body.green-theme input {
    background-color: var(--widget-bg-green);
    border-color: var(--border-green);
    color: var(--text-green);
}

body.green-theme button {
    background-color: var(--button-green);
}

body.green-theme button:hover {
    background-color: var(--button-hover-green);
}

body.green-theme .bar {
    background-color: var(--text-green);
}

body.green-theme .settings-panel {
    background-color: var(--widget-bg-green);
    color: var(--text-green);
}

body.green-theme .setting-item select {
    background-color: var(--widget-bg-green);
    border-color: var(--border-green);
    color: var(--text-green);
}

body.green-theme .footer a:hover {
    color: var(--button-hover-green);
}

body.green-theme .menu-icon {
    filter: invert(1);
}

body.green-theme .progress-bar {
    background-color: var(--widget-bg-green);
}

body.green-theme .progress {
    background-color: var(--button-green);
}

body.green-theme .extra-inputs-container input {
    background-color: var(--widget-bg-green);
    border-color: var(--border-green);
    color: var(--text-green);
}

body.green-theme .extra-inputs-container select {
    background-color: var(--widget-bg-green);
    border-color: var(--border-green);
    color: var(--text-green);
}



/* Orange theme */
body.orange-theme {
    background-color: var(--bg-orange);
    color: var(--text-orange);
}

body.orange-theme .widget {
    background-color: var(--widget-bg-orange);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

body.orange-theme input {
    background-color: var(--widget-bg-orange);
    border-color: var(--border-orange);
    color: var(--text-orange);
}

body.orange-theme button {
    background-color: var(--button-orange);
}

body.orange-theme button:hover {
    background-color: var(--button-hover-orange);
}

body.orange-theme .bar {
    background-color: var(--text-orange);
}

body.orange-theme .settings-panel {
    background-color: var(--widget-bg-orange);
    color: var(--text-orange);
}

body.orange-theme .setting-item select {
    background-color: var(--widget-bg-orange);
    border-color: var(--border-orange);
    color: var(--text-orange);
}

body.orange-theme .footer a:hover {
    color: var(--button-hover-orange);
}

body.orange-theme .menu-icon {
    filter: invert(1);
}

body.orange-theme .progress-bar {
    background-color: var(--widget-bg-orange);
}

body.orange-theme .progress {
    background-color: var(--button-orange);
}

body.orange-theme .extra-inputs-container input {
    background-color: var(--widget-bg-orange);
    border-color: var(--border-orange);
    color: var(--text-orange);
}

body.orange-theme .extra-inputs-container select {
    background-color: var(--widget-bg-orange);
    border-color: var(--border-orange);
    color: var(--text-orange);
}


/* Purple theme */
body.purple-theme {
    background-color: var(--bg-purple);
    color: var(--text-purple);
}

body.purple-theme .widget {
    background-color: var(--widget-bg-purple);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

body.purple-theme input {
    background-color: var(--widget-bg-purple);
    border-color: var(--border-purple);
    color: var(--text-purple);
}

body.purple-theme button {
    background-color: var(--button-purple);
}

body.purple-theme button:hover {
    background-color: var(--button-hover-purple);
}

body.purple-theme .bar {
    background-color: var(--text-purple);
}

body.purple-theme .settings-panel {
    background-color: var(--widget-bg-purple);
    color: var(--text-purple);
}

body.purple-theme .setting-item select {
    background-color: var(--widget-bg-purple);
    border-color: var(--border-purple);
    color: var(--text-purple);
}

body.purple-theme .footer a:hover {
    color: var(--button-hover-purple);
}

body.purple-theme .menu-icon {
    filter: invert(1);
}

body.purple-theme .progress-bar {
    background-color: var(--widget-bg-purple);
}

body.purple-theme .progress {
    background-color: var(--button-purple);
}

body.purple-theme .extra-inputs-container input {
    background-color: var(--widget-bg-purple);
    border-color: var(--border-purple);
    color: var(--text-purple);
}

body.purple-theme .extra-inputs-container select {
    background-color: var(--widget-bg-purple);
    border-color: var(--border-purple);
    color: var(--text-purple);
}



/* Red theme */

body.red-theme {
    background-color: var(--bg-red);
    color: var(--text-red);
}

body.red-theme .widget {
    background-color: var(--widget-bg-red);
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
}

body.red-theme input {
    background-color: var(--widget-bg-red);
    border-color: var(--border-red);
    color: var(--text-red);
}

body.red-theme button {
    background-color: var(--button-red);
}

body.red-theme button:hover {
    background-color: var(--button-hover-red);
}

body.red-theme .bar {
    background-color: var(--text-red);
}

body.red-theme .settings-panel {
    background-color: var(--widget-bg-red);
    color: var(--text-red);
}

body.red-theme .setting-item select {
    background-color: var(--widget-bg-red);
    border-color: var(--border-red);
    color: var(--text-red);
}

body.red-theme .footer a:hover {
    color: var(--button-hover-red);
}

body.red-theme .menu-icon {
    filter: invert(1);
}

body.red-theme .progress-bar {
    background-color: var(--widget-bg-red);
}

body.red-theme .progress {
    background-color: var(--button-red);
}

body.red-theme .extra-inputs-container input {
    background-color: var(--widget-bg-red);
    border-color: var(--border-red);
    color: var(--text-red);
}

body.red-theme .extra-inputs-container select {
    background-color: var(--widget-bg-red);
    border-color: var(--border-red);
    color: var(--text-red);
}





